


<% layout("layouts/boilerplates") %>
   <div class="row">
    <div class="col-8 offset-2">
        <br><br>
   <h3>Creat a New Listing</h3>
   <form method="POST"  action="/listings/<%= listingAll._id %>?_method=PUT" novalidate class="needs-validation">
        <div class="mb-3">
         <label for="title" class="form-label">Title</label>
         <input
          name="listing[title]" 
          placeholder="Add acatchy title" 
          type="text" 
          value="<%= listingAll.title %>"
          class="form-control"
          required
          >
          <div class="valid-feedback">Title looks good</div>
          <div class="invalid-feedback">title shoud be valid</div>
        </div>


       <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea  name="listing[description]"class="form-control" required><%= listingAll.description %></textarea>
        <div class="invalid-feedback"> Please enter a short description </div>
      </div> 



       <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input  name="listing[image]" placeholder="enter image URL/Link" type="text"   value="<%= listingAll.image %>" class="form-control" required>
        <div class="invalid-feedback">Please enter a valid  link for image</div>
       </div>
       

       <div class="row">
       <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input  name="listing[price]" placeholder=" &#8377; 1,200 " type="number"   value="<%= listingAll.price %>" class="form-control" required>
        <div class="invalid-feedback">Price should be valid</div>
       </div>

       <div class="mb3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input  name="listing[country]" placeholder="India " type="text"  value="<%= listingAll.country  %>" class="form-control" required>
        <div class="invalid-feedback">Country name should be valid</div>
       </div>
      </div>

       <div class="mb-3" >
        <label for="location" class="form-label">Location</label>
        <input  name="listing[location]" placeholder="Hyderaba/Telangana " type="text"  value="<%= listingAll.location %>" class="form-control" required>
        <div class="invalid-feedback">Location should be valid</div>
       </div>

      <br><br>
      <button class="btn btn-dark add-btn">Edit</button>
    <br><br>
    </form>
  </div>
</div>
