<% layout("layouts/boilerplates") %>
    <div class="row mt-3">
        <div class="col-8 offset-3">
    <h3><%= listingAll.title %></h3>

</div>
      <div class="card col-6 offset-3  show-card">
        <img src="<%= listingAll.image %>" 
          class="card-img-top show-img"
          alt="listing_image">


         <div class="card-body">
            <p class="card-text">
            <%= listingAll.description%>  <br>
            &#8377;<%= listingAll.price.toLocaleString("en-IN") %>
            <br>
            <%= listingAll.location %>
            <br>
            <%= listingAll.country %>
            </p>
         </div>  
      </div>
      <br>
      <div class="btns">
    <a href="/listings/<%= listingAll._id %>/edit"
         class="btn btn-dark col-1 offset-3 add-btn">Edit</a> 
         
    <form  method="post"action="/listings/<%= listingAll._id %>?_method=DELETE">
        <button class="btn btn-dark offset-5">Delete</button>
    </form>
    </div>
    <div class="col-8 offset-3 mb-3">
      <hr>
      <h4>Leave a Review</h4>
      <form action="/listings/<%= listingAll.id %>/reviews" method="post">
        <div clas="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input type="range" min="1" max="5" id="rating" name="review[rating]"  class="form-range">
        </div>
        <div class="mb-3 mt-3">
          <label for="comment" class="form-label">Comments</label>
          <textarea
           name="review[comment]"
            id="comment" 
            col="30" 
            rows="5" 
            class="form-control">
          </textarea>
          </div>
          <button class="btn btn-outline-dark ">Submit</button>
      </form>
    </div>
    </div>

        
        